@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import 'variables.scss';
@import 'animation.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';


html, body, #app {height: 100%; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;font-family: 'Montserrat', sans-serif;}
.navbar {margin: 0; padding: 0;}
.bg-dark {
    & h1,h2,h3,h4,strong {
        color:white;
    }
}

.container {border-top:4px solid #ec970f;}
.gm-ui-hover-effect {background: transparent!important;border: 0!important;}
button {outline: none;box-shadow:none !important;}
.table > tbody > tr > td {
    vertical-align: middle;
    & h5, p, h4, h3 {
        margin:0;
    }
    & h4 {
        font-weight: bold;
        font-size: 1.1rem;
    }
}
.table-icon {
    max-width: 64px;
    max-height: 64px;
}

a {
  text-decoration: none!important;
}

nav .nuxt-link-active,
nav .nav-link {
  display: inline-block;
  position: relative;
  padding-bottom: 0.5rem;
}
nav .nav-link:after {
  content: ' ';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ec970f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav .nuxt-link-active:after  {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  background-color: #ec970f;
}

.rank-sub {font-size: 14px; padding-left:0.5rem; border-left:4px solid #ec970f;}

.list-group-item-info {
    color: $secondary;
    background-color: white;
}

b-card-text p {
    font-size: 18px;
}

hr {
    height: 1.6rem;
    border: 0;
    position: relative;
    display: block;
  }
hr:after {
    content:'';
    position: absolute;
    left:0; top: 0.7rem;
    width:80px;
    height:3px;
    background-color: #ec970f;
}
.telegram-login-box > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cookie--et {
  background: #1a2740;
  color: #fff;
  padding: 1rem 2rem;
}
.Cookie--et .Cookie__button {
  background: #ec970f;
  padding: 0.425em 2.125em;
  color: #fff;
  border-radius: 0;
  border: 0;
  margin:0;
  font-size: 1em;
}
.Cookie--et .Cookie__button:hover {
  background: #f8da19;
}

.modal-style {
  background-image: url('~assets/img/mol.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.navText {
  display: block;
}
.sideMenu {
  left: .5rem;
  top: .1rem;
  font-size: 3rem;
}
.navWrap .navText {
  display: none;
}
.navWrap .sideMenu {
  font-size: 2rem;
}

.navbar-expand .main-nav.navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 576px) {
  .modal-style {
    padding: 2rem;
  }
}

@include media-breakpoint-down(md) {
  .navText {
    display: none;
  }
  .sideMenu {
    font-size: 2rem;
  }
  .container {
    padding-left: 1rem!important;
    padding-right: 1rem!important;
    padding-top: 1rem!important;
  }

  .table th, .table td {
      padding: 0.5rem!important;
  }

  #banner {
      height:200px!important;
  }
}