@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import 'variables.scss';
@import 'animation.scss';
@import 'slotmachine.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

html {scroll-behavior: smooth;}
html, body, #app {height: 100%; margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;font-family: 'Montserrat', sans-serif;}
.navbar {margin: 0; padding: 0;}
.bg-dark {
    & h1,h2,h3,h4,strong {
        color:white;
    }
}
main {
  background-image: linear-gradient(to top, #c0d1e6, #c0d1e6, #d3dcec, #e3e7f2, #f2f3f9, #ffffff);
}
.shadow-sm {
  box-shadow: 0 0.125rem 0rem rgb(26 39 64 / 20%) !important;
}
[v-cloak] {
  display: none !important;
}
:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}
.overflow-visible {
  overflow: visible!important;
}

.gm-ui-hover-effect {background: transparent!important;border: 0!important;}
button {outline: none;box-shadow:none !important;}
.badge {vertical-align: top;}
.table > tbody > tr > td {
    vertical-align: middle;
    & h5, p, h4, h3 {
        margin:0;
    }
    & h4 {
        font-weight: bold;
        font-size: 1.1rem;
    }
}
h1, .h1 {
  font-size: 1.7rem;
}
blockquote {
  border-left: 6px solid $warning;
  position: relative;
  padding: 1rem 1rem 0.1rem 1.4rem;
  background:rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
}

.table-icon {
    max-width: 64px;
    max-height: 64px;
}

.nowrap {
  white-space: nowrap;
}

a {
  text-decoration: none!important;
}

.profile {
  padding: 0.25rem !important;
}

nav .nuxt-link-active,
nav .nav-link {
  display: inline-block;
  position: relative;
  padding-bottom: 0.5rem;
}
nav .nav-link:after {
  content: ' ';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ec970f;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
nav .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav .nuxt-link-active:after  {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  background-color: $warning;
}

.rank-sub {font-size: 14px; padding-left:0.5rem; border-left:4px solid #ec970f;}

.list-group-item-info {
    color: $secondary;
    background-color: white;
}
.blur {
  border: none;
  background-color: transparent!important;
  background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

b-card-text p {
    font-size: 18px;
}

hr {
  height:3px;
  border: 0;
  position: relative;
  display: block;
}
hr:after {
  content:'';
  position: absolute;
  left:0; top: -3px;
  width:80px;
  height:3px;
  background-color: $primary;
}
.underline {
  position: relative;
  width: max-content;
  margin-bottom: 1.8rem;
}
.underline:after {
  position: absolute;
  bottom: -.7rem;
  left: 0;
  content: '';
  background:$warning;
  height: 3px;
  width: 100%;
}

.telegram-login-box > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-pat {
  background-image: url('~assets/img/pattern-icons.png');
}

.Cookie--et {
  background: #1a2740;
  color: #fff;
  padding: 1rem 2rem;
}
.Cookie--et .Cookie__button {
  background: #ec970f;
  padding: 0.425em 2.125em;
  color: #fff;
  border-radius: 0;
  border: 0;
  margin:0;
  font-size: 1em;
}
.Cookie--et .Cookie__button:hover {
  background: #f8da19;
}

.bg-lightning {
  background-image: url('~assets/img/mol.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.navText {
  display: block;
}
.nav-item a {
  font-weight: bold;
}
.nav-link .b-icon.bi {
  font-size: 150%;
}
.sideMenu {
  left: 1rem;
  top: .1rem;
  font-size: 3rem;
}
.navWrap .navText {
  display: none;
}
.navWrap .sideMenu {
  font-size: 2rem;
}

.navbar-expand .main-nav.navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

.list-group,
.alert,
.card,
.rounded {
  border-radius: 0.5rem !important;
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.card {
  border-radius: 10px;
}

.p-container {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width:100%;
    height: 12rem;
}
.p-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title {
    line-height: 1.1;
}
.description {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 16px;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.card-list-item {
  transition: transform .4s ease;
}
.card-list-enter {
  transform: scale(0);
}
.card-list-enter-to {
  transform: scale(1);
}
.card-list-leave-to,
.card-list-leave {
  display: none;
}

.nuxt-content img {
  width: 100%;
}

.opacity-75 { opacity: .75; }
.opacity-50 { opacity: .50; }
.opacity-25 { opacity: .25; }

@include media-breakpoint-up(lg) {
  .full-row {
    margin-right: -3rem;
    margin-left: -3rem;
  }
}

@include media-breakpoint-down(md) {
  .navText {
    display: none;
  }
  .sideMenu {
    font-size: 2rem;
  }
  .table th, .table td {
    padding: 0.5rem!important;
  }
  .modal-footer .btn {
    flex-basis: 100%;
  }
  .Cookie--et {
    padding: 0 1rem;
  }
  .Cookie__buttons {
    margin-top: 0!important;
  }
  .navbar-expand .main-nav.navbar-nav .nav-link {
    padding-right: .6rem;
    padding-left: .6rem;
  }
  .nav-link {
    padding: 0.5rem 0.7rem;
  }
  .layout-default .main-nav {
    margin: 0 -15px;
  }
}