// overwrite bootstrap variables here
$primary: #4482a9;
$secondary: #1a2740;
$success: #55a944;
$info: #ffffff;
$warning: #ec970f;
$danger: #dc3545;
$light: #c0d1e6;
$dark: #1a2740;

$blue: #4482a9;
$red: #dc3545;
$orange: #ec970f;
$yellow: #f8da19;
$teal: #4482a9;
$cyan: #4482a9;
$white: #fff;
$green: #55a944;
$gray: #1a2740;
$gray-dark: #1a2740;

$body-bg: #ffffff;
$body-color: #1a2740;

$text-light: #ffffff;

$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;

$navbar-light-color: rgba($primary, .5);
$navbar-light-hover-color: rgba($primary, .7);
$navbar-light-active-color: rgba($primary, .9);

$navbar-dark-color: rgba($secondary, .7);
$navbar-dark-hover-color: rgba($secondary, 1);
$navbar-dark-active-color: rgba($secondary, 1);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1300px
);
    
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1240px
);

.btn-primary:not(:active).focus {
  background-color: $primary;
  border-color: $primary;
}

.nuxt-link-active {
  color: $secondary!important;
}